.container {
    width: 300px;
    height: 220px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 10px;
    /*background: aliceblue;*/
}

.image {
    width: 300px;
    height: 150px;
    object-fit: cover;

    border-radius: 5px;
}

.baseVideoDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    min-height: 46px;
}

.title {
    margin: 0;
    font-size: 14px;
    max-width: 240px;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.userImage {
    position: relative;
    min-width: 35px;
    min-height: 35px;

    overflow: hidden;

    width: 35px;
    height: 35px;

    background: #d5d5d5;
    border-radius: 50%;
}

.additionalVideoDetailsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.userName {
    margin: 0;
    text-align: center;

    font-size: 12px;
    color: #828282;
    font-weight: bold;

    max-width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.viewCount {
    margin: 0;

    font-size: 12px;
    font-weight: normal;
    color: #828282;
}

