.container {
    margin: 5px 0;
    padding: 10px;

    background: rgba(248, 248, 248,0.05);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lineContainer {
    overflow: hidden;
    max-height: 250px;
}

.open {
    max-height: fit-content;
}

.stroke {
    margin: 0;
    font-size: 14px;

    color: var(--primary-text-color);
    font-weight: bold;
}

.button {
    margin: 0 auto;
    padding: 10px;

    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    border: none;

    font-weight: bold;
    color: var(--primary-text-color);

    cursor: pointer;
}

@media screen and (max-width: 468px) {
    .stroke {
        font-size: 10px;
    }
    .lineContainer {
        max-height: 100px;
    }
    .open {
        max-height: fit-content;
    }
}