.container {
    background: rgba(248, 248, 248,0.05);
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

.stroke {
    margin: 0;
    font-size: 14px;

    color: var(--primary-text-color);
    font-weight: bold;
}