.container {
    padding: 10px;
}

.commentContainer {
    margin: 0;
    padding: 0;
    list-style: none;


    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    margin: 0;

    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 16px;
}



@media screen and (max-width: 468px){
    .title {
        font-size: 12px;
    }
}