.container {
    display: flex;
    gap: 10px;
}

.userImage {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background: #eaeaea;
}
.baseInfoContainer {
    display: flex;
    flex-direction: column;
}
.userName {
    margin: 0;

    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: bold;
}
.userSubscribers {
    margin: 0;

    display: flex;
    align-items: center;

    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: bold;
}
.userSubscribersIcon {
    fill: var(--secondary-text-color);
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 468px){
    .userImage {
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
    }
    .userName {
        font-size: 10px;
    }
    .userSubscribers {
        font-size: 8px;
    }
    .userSubscribersIcon {
        width: 10px;
        height: 10px;
    }
}