.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 40px;

    list-style: none;
}