.container {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoAdditionalDetailsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
}

.likeCount {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--secondary-text-color);
    font-weight: bold;
}

.viewCount {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--secondary-text-color);
    font-weight: bold;
}

.icon {
    fill: var(--secondary-text-color);
}


@media screen and (max-width: 468px) {
    .likeCount {
        font-size: 12px;
    }
    .viewCount {
        font-size: 12px;
    }
    .icon {
        width: 12px;
        height: 12px;
    }
}