.container {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoAdditionalDetailsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
}

.likeCount {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--secondary-text-color);
    font-weight: bold;
}

.viewCount {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--secondary-text-color);
    font-weight: bold;
}

.icon {
    fill: var(--secondary-text-color);
}