.container {
    padding: 10px;
    display: flex;
    gap: 10px;

}

.image {
    display: block;
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    background: rgba(234, 234, 234, 0.1);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.baseInfoContainer {
    display: flex;
    gap: 10px;
}
.channelName {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--primary-text-color);
}
.likeCount {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: bold;
}
.likeCountIcon {
    width: 15px;
    height: 15px;
    fill: var(--secondary-text-color);
}

.commentTextContainer {

}
.commentLine {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
    color: var(--secondary-text-color);
}

.link {
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.link:hover {
    transition: all ease-in-out .3s;
    opacity: 0.5;
}

@media screen and (max-width: 468px){
    .image {
        min-width: 25px;
        min-height: 25px;
        width: 25px;
        height: 25px;
    }
    .channelName {
        font-size: 10px;
    }
    .likeCount {
        font-size: 10px;
    }
    .likeCountIcon {
        width: 10px;
        height: 10px;
    }
    .commentLine {
        font-size: 10px;
    }
}